<h1>Hi, I'm Allen</h1>
I'm a software engineer and aspiring musician based out of NYC.
<br>
<br>
When I'm not doing software engineer things, I study and play the bass guitar, with a focus on jazz.
<br>
<br>
<a href="https://www.linkedin.com/in/allenwoot/">Linkedin</a>
<br>
<a href="https://www.youtube.com/channel/UClFFyE886WfQalkPdlRa-ug">Youtube</a>
<br>
<a href="https://soundcloud.com/allenwoot">Soundcloud</a>
<br>
<a href="mailto:allen@allenwoot.com">Email</a>
